# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.pyd

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Flask SQLite DB
pond.db
*.db

# VS Code
.vscode/

# JetBrains
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Vite / Svelte
/.vite
/.svelte-kit
dist/
build/

# environment files
.env
.env.*
env.local

# Logs
logs/
*.log

# Editors
*~
*.swp
